@font-face {
  font-family: "iconfont"; /* Project id 3818567 */
  src: url('iconfont.woff2?t=1670595078039') format('woff2'),
       url('iconfont.woff?t=1670595078039') format('woff'),
       url('iconfont.ttf?t=1670595078039') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\e689";
}

.icon-user:before {
  content: "\e682";
}

.icon-icon_login_input_password_default:before {
  content: "\e618";
}

.icon-icon_login_input_password_pressed:before {
  content: "\e619";
}

.icon-yuedu:before {
  content: "\e639";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-pinglun:before {
  content: "\e8b4";
}

