@font-face {
  font-family: "iconfont"; /* Project id 3818567 */
  src: url('iconfont.woff2?t=1672994124779') format('woff2'),
       url('iconfont.woff?t=1672994124779') format('woff'),
       url('iconfont.ttf?t=1672994124779') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\e699";
}

.icon-comment_fill_light:before {
  content: "\e7e2";
}

.icon-view1:before {
  content: "\e6b4";
}

.icon-good:before {
  content: "\e657";
}

.icon-share:before {
  content: "\e86e";
}

.icon-Writing:before {
  content: "\e69d";
}

.icon-mima:before {
  content: "\e689";
}

.icon-user:before {
  content: "\e682";
}

.icon-hide_pwd:before {
  content: "\e618";
}

.icon-icon_login_input_password_pressed:before {
  content: "\e619";
}

